<h1 mat-dialog-title>Give us Feedback</h1>
<div mat-dialog-content>
    <div fxLayout="row wrap">
        <div fxFlex="100">
            <!-- <mat-form-field appearance="outline" class="width-100">
                <mat-label>dfff</mat-label>
                <input type="text" matInput >
              </mat-form-field> -->
              <div class="overal_rating new--rating mb-2">
                <div class="r_progress" style="width:80%;"></div>
            </div>
        </div>
        <div fxFlex="100">
            <mat-form-field appearance="outline" class="width-100">
                <mat-label>Give us Feedback</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." maxlength="100"></textarea>
              </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
    <button mat-raised-button color="primary"  (click)="onNoClick()">Submit</button>
</div>