/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-spacer {
    flex: 1 1 auto;
  }
.navLogo{
    img{
        width: 60px;
        max-height: 80px;
    }
}

.p1{
    padding: 10px;
}
.p2{
    padding: 20px;
}
.p3{
    padding: 30px;
}
.p4{
    padding: 40px;
}
.m1{
    margin: 10px;
}
.m2{
    margin: 20px;
}
.m3{
    margin: 30px;
}
.m4{
    margin: 40px;
}
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px !important;
}
.mt-4{
    margin-top: 40px;
}
.mt-5{
    margin-top: 50px;
}
.ml-1{
    margin-left: 10px;
}
.ml-2{
    margin-left: 20px;
}
.ml-3{
    margin-left: 30px;
}
.ml-4{
    margin-left: 40px;
}
.ml-5{
    margin-left: 50px;
}
.mr-1{
    margin-right: 10px;
}
.mr-2{
    margin-right: 20px;
}
.mr-3{
    margin-right: 30px;
}
.mr-4{
    margin-right: 40px;
}
.mr-5{
    margin-right: 50px;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-3{
    margin-bottom: 30px !important;
}
.mb-4{
    margin-bottom: 40px;
}
.mb-5{
    margin-bottom: 50px;
}
.fnt-18{
    font-size: 18px;
}
.fnt-16{
    font-size: 16px;
}
.fnt-14{
    font-size: 14px;
}
.fnt-12{
    font-size: 12px;
}
.clr-666{
    color: #666;
}
.clr--yellow{
    color:#f1c400;
}
.width-100{
    width: 100%;
}
.restoImage{
    max-height: 200px;
    max-width: 200px;
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.text-underline{
    text-decoration: underline;
    cursor: pointer;
}
.float-right{
    float: right;
}
.mat-snack-bar-container{
    background: #3f51b5;
    color: #fff;
}
.mat-table thead{
    background-color: #3f51b5;
}
th.mat-header-cell{
    color: #fff;
    font-size: 18px;
}