
<div fxlayout="row wrap"  fxLayoutAlign="center center">
    <div fxFlex.xs="100" fxFlex.sm="100"fxFlex.ms="80"fxFlex.lg="500px"fxFlex.xl="500px" class="mt-5"> 
        <h1 class="text-center">Register</h1>
        <mat-card>
          <form fxLayout="row wrap" [formGroup]="registerForm">
            <div fxFlex="100">
              <mat-form-field appearance="outline" class="width-100">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" type="email" matInput >
                </mat-form-field>
            </div>
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="width-100">
                    <mat-label>Full Name</mat-label>
                    <input formControlName="fullName" type="text" matInput >
                  </mat-form-field>
            </div>
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="width-100">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput >
                  </mat-form-field>
            </div>
            <div fxFlex="100">
              <mat-form-field appearance="outline" class="width-100">
                  <mat-label>Confirm Password</mat-label>
                  <input formControlName="cpass" type="password" matInput >
                </mat-form-field>
            </div>
            <div fxFlex="100" fxLayoutAlign="center center">
              <button mat-raised-button color="primary" (click)="registerButton()">Register</button>
            </div>
          </form>
        </mat-card>
    </div>
</div>
