.adminLogin-main {
    min-width: 250px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    padding: 20px;
    margin: 10px;
}
.hight-500 {
    height: 500px;
}